{% extends "base.html" %}
{% block title %}
О Booking.com
{% endblock %}
{% block style %}
	{% include "inc-style.html" %}
{% endblock %}
{% block menu %}
	{% include "inc-menu.html" %}
{% endblock %}
{% block body %}
<div>
		<a href="/create-category/">Создать новую категорию</a>
	</div>
	<div>
		<h4>Список существующих категорий</h4>
        {% for item in objects_list %}
        <li>
            {{item.name}} <span>Количество автомобилей: {{item.carrental_count()}}</span>
			<a href="/carrental-list/?id={{item.id}}">Показать автомобили</a>
        </li>
        {% endfor %}
	</div>
	{% include "inc-carrental.html" %}
{% endblock %}
{% block footer %}
	{% include "inc-footer.html" %}
{% endblock %}