<div class="menu">
    <header id="header" class="alt skel-layers-fixed">
        <h1><a href="/">Booking.com</a></h1>
        <nav id="nav">
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/about/">О Booking.com</a></li>
                <li><a href="/hotels/">Жилье</a></li>
                <li><a href="/flights/">Авиабилеты</a></li>
                <li><a href="/carrentals/">Аренда машин</a></li>
                <li><a href="/create-client/">Создать клиента</a></li>
                <li><a href="/create-hotel/">Создать отель</a></li>
           </ul>
        </nav>
    </header>
</div>
<hr>