<section id="main" class="wrapper style1">
    <header class="major">
        <h2>О Booking.com™</h2>
        <p>Делаем путешествия доступными каждому</p>
    </header>
    <div class="container">
        <div class="row 150%">
            <div class="8u 12u$(2)">

                <!-- Content -->
                <section id="content">
                    <a href="#" class="image fit"><img src="images/slide03.jpg" alt=""/></a>
                    <h3>Регистрационный номер НДС - NL805734958B01. Регистрационный номер Ведомства Нидерландов по
                        защите информации - 1288246.</h3>
                    <p>Будучи крупнейшей в мире туристической платформой как для известных брендов, так и для
                        предпринимателей разного уровня, Booking.com помогает владельцам объектов размещения по всему
                        миру привлекать гостей и расширять бизнес.</p>
                    <h3>Офис Booking.com B.V. расположен в Амстердаме, Нидерланды, а 198 офисов вспомогательных компаний
                        находятся более чем в 70 странах</h3>
                    <p>Платформа Booking.com переведена на 43 языка. На ней доступно для бронирования более 28 миллионов
                        заявленных единиц размещения, среди которых более 6,2 миллионов в домах, апартаментах и других
                        уникальных объектах размещения. Куда бы вы ни отправились и чем бы ни захотели заняться,
                        Booking.com поможет вам в этом.</p>
                    <ul>
                        <li>Огромный выбор
                            от стильных городских квартир и уютных загородных мини-гостиниц до роскошных курортных
                            отелей на пляже.
                        </li>
                        <li>Если найдете дешевле, мы вернем разницу в стоимости</li>
                        <li>Моментальное подтверждение</li>
                        <li>Бронирование без комиссии</li>
                        <li>Самые высокие стандарты безопасности, чтобы гарантировать сохранность ваших данных</li>
                    </ul>
                </section>

            </div>

            <div class="4u 12u$(2)">

                <!-- Sidebar -->
                <section id="sidebar">
                    <section>
                        <h3>Инвестиции</h3>
                        <p>Инвестируя в технологии, которые помогают путешествовать без хлопот, Booking.com предлагает
                            миллионам гостей потрясающие варианты досуга, транспортные услуги и невероятное жилье,
                            начиная от домов и заканчивая отелями и не только. </p>
                        <footer>
                            <ul class="actions">
                                <li><a href="#" class="button small alt">Learn More</a></li>
                            </ul>
                        </footer>
                    </section>
                    <hr/>
                    <section>
                        <a href="#" class="image fit"><img src="images/pic03.jpg" alt=""/></a>
                        <h3>Техподдержка</h3>
                        <p>Служба поддержки компании работает круглосуточно и без выходных.</p>
                        <footer>
                            <ul class="actions">
                                <li><a href="#" class="button small alt">Learn More</a></li>
                            </ul>
                        </footer>
                    </section>
                </section>

            </div>
            <section>
                <h3>Напишите нам</h3>
                <form method="post" action="#">
                    <div class="row uniform">
                        <div class="6u 12u(3)">
                            <input type="text" name="name" id="name" value="" placeholder="Name"/>
                        </div>
                        <div class="6u 12u(3)">
                            <input type="email" name="email" id="email" value="" placeholder="Email"/>
                        </div>
                    </div>
                    <div class="row uniform">
                        <div class="12u">
                            <div class="select-wrapper">
                                <select name="category" id="category">
                                    <option value="">- Category -</option>
                                    <option value="1">Manufacturing</option>
                                    <option value="1">Shipping</option>
                                    <option value="1">Administration</option>
                                    <option value="1">Human Resources</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row uniform">
                        <div class="4u 12u(2)">
                            <input type="radio" id="priority-low" name="priority" checked>
                            <label for="priority-low">Low Priority</label>
                        </div>
                        <div class="4u 12u(2)">
                            <input type="radio" id="priority-normal" name="priority">
                            <label for="priority-normal">Normal Priority</label>
                        </div>
                        <div class="4u 12u(2)">
                            <input type="radio" id="priority-high" name="priority">
                            <label for="priority-high">High Priority</label>
                        </div>
                    </div>
                    <div class="row uniform">
                        <div class="6u 12u(2)">
                            <input type="checkbox" id="copy" name="copy">
                            <label for="copy">Email me a copy of this message</label>
                        </div>
                        <div class="6u 12u(2)">
                            <input type="checkbox" id="human" name="human" checked>
                            <label for="human">I am a human and not a robot</label>
                        </div>
                    </div>
                    <div class="row uniform">
                        <div class="12u">
                            <textarea name="message" id="message" placeholder="Enter your message" rows="6"></textarea>
                        </div>
                    </div>
                    <div class="row uniform">
                        <div class="12u">
                            <ul class="actions">
                                <li><input type="submit" value="Отправить"/></li>
                                <li><input type="reset" value="Очистить"/></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</section>